<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="firsttest" frontName="firsttest">
            <module name="Testing_FirstTest" />
        </route>
    </router>
</config>